*, *::after, *::before {
    box-sizing: border-box;
  }
  
  :active, :focus {
    outline: none;
  }
  
  a:active, a:focus {
    outline: none;
  }
  
  nav, header, footer, aside, main {
    display: block;
  }
  
  html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }
  
  input, button, textarea {
    font-family: inherit;
  }
  
  input::-ms-clear {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  button::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
  
  a, a:visited {
    text-decoration: none;
    color: inherit;
  }
  
  a:hover {
    text-decoration: none;
  }
  
  ol, ul, li {
    list-style: none;
  }
  
  img {
    vertical-align: top;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
  }

  /* ============================================= */

body{
  overflow-x: hidden;
}  
.container{
  max-width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
table {
    font-family: Sans-Serif;
    border-collapse: collapse;
    color: #686461;
    width: 100%;

  }
  caption {
    padding: 10px;
    color: white;
    background: #8FD4C1;
    font-size: 18px;
    text-align: left;
    font-weight: bold;
  }
  th {
    border-bottom: 3px solid #B9B29F;
    padding: 10px;
    text-align: left;
  }
  td {
    padding: 10px;
  }
  tr{
    height: 50px;
    position: relative;
  }
  tr:nth-child(odd) {
    background: white;
  }
  tr:nth-child(even) {
    background: #E8E6D1;
  }
  tr td {
    cursor: pointer;
  }

  /* ========================== */
  body.lock {
    overflow: hidden;
  }

  .modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
  }
  .modal__window {
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0.5rem;
  }
  .modal__content {
    background-color: rgb(255, 255, 255);
    min-width: 200px;
    min-height: 200px ;
    padding: 0.85rem 1.2rem;
    border-radius: 0.8rem;
    position: relative;
    transition: all 0.5s ease 0s;
    opacity: 0;
    transform: translate(0px, -120%);
  }
  .modal__close {
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
  }
  
  .modal.open .modal__content {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  
  .modal.open {
    opacity: 1;
    visibility: visible;
  }
  
  tr.loading{
    color: rgba(0, 0, 0, 0);
    background: center center url('../img/loading.svg') no-repeat;
  }
  
  .modal__content .task {
    position: relative;
  }

  .modal__content .red::before{
    content: '';
    position: absolute;
    left:  70%;
    top: 30%;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: red;
  }
  .modal__content .green::before{
    content: '';
    position: absolute;
    left:  70%;
    top: 30%;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: green;
  }
  .modal__content .yellow::before{
    content: '';
    position: absolute;
    left:  70%;
    top: 30%;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: yellow;
  }
  
  .modal__content{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content{
    background-color: #cef5e5;
    width: 100%;
    height: 100%;
    padding: 20px;
  }
 